@{ Layout = null;}
<div class="modal-dialog" style="margin-top: 15px;">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
                <span>&times;</span>
            </button>
            <div class="resumeHeading">
                <h2>C# WinForms Project II</h2>
            </div>
        </div>
        <div class="modal-body">
            <div class="container portfolioSlideShowContainer" style="background-color: whitesmoke;">
                <div id="slideShow2" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#slideShow2" data-slide-to="0" class="active"></li>
                        <li data-target="#slideShow2" data-slide-to="1"></li>
                        <li data-target="#slideShow2" data-slide-to="2"></li>
                        <li data-target="#slideShow2" data-slide-to="3"></li>
                        <li data-target="#slideShow2" data-slide-to="4"></li>
                        <li data-target="#slideShow2" data-slide-to="5"></li>
                        <li data-target="#slideShow2" data-slide-to="6"></li>
                        <li data-target="#slideShow2" data-slide-to="7"></li>
                        <li data-target="#slideShow2" data-slide-to="8"></li>
                        <li data-target="#slideShow2" data-slide-to="9"></li>
                        <li data-target="#slideShow2" data-slide-to="10"></li>
                        <li data-target="#slideShow2" data-slide-to="11"></li>
                        <li data-target="#slideShow2" data-slide-to="12"></li>
                        <li data-target="#slideShow2" data-slide-to="13"></li>
                        <li data-target="#slideShow2" data-slide-to="14"></li>
                        <li data-target="#slideShow2" data-slide-to="15"></li>
                        <li data-target="#slideShow2" data-slide-to="16"></li>
                        <li data-target="#slideShow2" data-slide-to="17"></li>
                        <li data-target="#slideShow2" data-slide-to="18"></li>
                        <li data-target="#slideShow2" data-slide-to="19"></li>
                        <li data-target="#slideShow2" data-slide-to="20"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="item active portfolioImage" align="center">
                            <img src="~/PortfolioFiles/Assignment_8/1.PNG" />
                            <div class="carousel-caption">1</div>
                        </div>
                        <div class="item portfolioImage" align="center">
                            <img src="~/PortfolioFiles/Assignment_8/2.PNG" />
                            <div class="carousel-caption">2</div>
                        </div>
                        <div class="item portfolioImage" align="center">
                            <img src="~/PortfolioFiles/Assignment_8/3.PNG" />
                            <div class="carousel-caption">3</div>
                        </div>
                        <div class="item portfolioImage" align="center">
                            <img src="~/PortfolioFiles/Assignment_8/4.PNG" />
                            <div class="carousel-caption">4</div>
                        </div>
                        <div class="item portfolioImage" align="center">
                            <img src="~/PortfolioFiles/Assignment_8/5.PNG" />
                            <div class="carousel-caption">5</div>
                        </div>
                        <div class="item portfolioImage" align="center">
                            <img src="~/PortfolioFiles/Assignment_8/6.PNG" />
                            <div class="carousel-caption">6</div>
                        </div>
                        <div class="item portfolioImage" align="center">
                            <img src="~/PortfolioFiles/Assignment_8/7.PNG" />
                            <div class="carousel-caption">7</div>
                        </div>
                        <div class="item portfolioImage" align="center">
                            <img src="~/PortfolioFiles/Assignment_8/8.PNG" />
                            <div class="carousel-caption">8</div>
                        </div>
                        <div class="item portfolioImage" align="center">
                            <img src="~/PortfolioFiles/Assignment_8/9.PNG" />
                            <div class="carousel-caption">9</div>
                        </div>
                        <div class="item portfolioImage" align="center">
                            <img src="~/PortfolioFiles/Assignment_8/10.PNG" />
                            <div class="carousel-caption">10</div>
                        </div>
                        <div class="item portfolioImage" align="center">
                            <img src="~/PortfolioFiles/Assignment_8/11.PNG" />
                            <div class="carousel-caption">11</div>
                        </div>
                        <div class="item portfolioImage" align="center">
                            <img src="~/PortfolioFiles/Assignment_8/12.PNG" />
                            <div class="carousel-caption">12</div>
                        </div>
                        <div class="item portfolioImage" align="center">
                            <img src="~/PortfolioFiles/Assignment_8/13.PNG" />
                            <div class="carousel-caption">13</div>
                        </div>
                        <div class="item portfolioImage" align="center">
                            <img src="~/PortfolioFiles/Assignment_8/14.PNG" />
                            <div class="carousel-caption">14</div>
                        </div>
                        <div class="item portfolioImage" align="center">
                            <img src="~/PortfolioFiles/Assignment_8/15.PNG" />
                            <div class="carousel-caption">15</div>
                        </div>
                        <div class="item portfolioImage" align="center">
                            <img src="~/PortfolioFiles/Assignment_8/16.PNG" />
                            <div class="carousel-caption">16</div>
                        </div>
                        <div class="item portfolioImage" align="center">
                            <img src="~/PortfolioFiles/Assignment_8/17.PNG" />
                            <div class="carousel-caption">17</div>
                        </div>
                        <div class="item portfolioImage" align="center">
                            <img src="~/PortfolioFiles/Assignment_8/18.PNG" />
                            <div class="carousel-caption">18</div>
                        </div>
                        <div class="item portfolioImage" align="center">
                            <img src="~/PortfolioFiles/Assignment_8/19.PNG" />
                            <div class="carousel-caption">19</div>
                        </div>
                        <div class="item portfolioImage" align="center">
                            <img src="~/PortfolioFiles/Assignment_8/20.PNG" />
                            <div class="carousel-caption">20</div>
                        </div>
                        <div class="item portfolioImage" align="center">
                            <img src="~/PortfolioFiles/Assignment_8/21.PNG" />
                            <div class="carousel-caption">21</div>
                        </div>
                        <div class="item portfolioImage" align="center">
                            <img src="~/PortfolioFiles/Assignment_8/22.PNG" />
                            <div class="carousel-caption">22</div>
                        </div>
                        <div class="item portfolioImage" align="center">
                            <img src="~/PortfolioFiles/Assignment_8/23.PNG" />
                            <div class="carousel-caption">23</div>
                        </div>
                        <div class="item portfolioImage" align="center">
                            <img src="~/PortfolioFiles/Assignment_8/24.PNG" />
                            <div class="carousel-caption">24</div>
                        </div>
                    </div>
                    <a class="left carousel-control" href="#slideShow2" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#slideShow2" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
        </div>
    </div><!-- END OF MODAL BODY -->
    <div>

    </div>
    <div class="modal-footer">
        <!-- Add download resume option -->
        <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
    </div>
</div>

