





<!-- Create Panel Rows-->
<div class="container-fluid">
    <div class="row">
        <!-- Android Senior Design-->
        <div class="col-md-4 col-sm-6">
            <div class="panel panel-info portfolioPanels">
                <div class="panel-heading">DIMA: Senior Design Project</div>
                <div class="panel-body">
                    <div class="flip-container dimaflip-container">
                    <div class="flipper dima-flipper">
                        <div class="face front" id="dimaCardFront"><img class="panelImg androidImg" src="~/PortfolioFiles/pics/Screenshot_2015-12-14-11-54-36.png" /></div>
                        <div class="face back" id="dimaCardBack">
                            <div>
                                <p class="portfolioParagraphDescriptions">
                                    I was inspired to create an android application that would give people an additional reference to check if there is any drug interaction occurring within the medications they are taking.
                                    The app not only allows a user to check for drug-drug interaction, but for drug-food interactions, general information about specific medications, and medication suggestions to help ease patients infirmity.
                                    </br></br><b>Tools used to complete project</b>: <em>Android Studio</em> as the IDE. <em>C++</em> and <em>LibXL</em> to parse spreadsheets to insert data into <em>MySql</em> relational database. <em>Amazon Web Services</em> to host the database on the cloud. <em>Java</em> for event driven controls and to parse retrieved JSON objects. <em>XML</em> as the markup language used to create activities (pages). <em>PHP</em> as the scripting language to run queries against the MySql database.
                                </p>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <a class="btn btn-info ssButton" href="#displayAndroidSS" data-toggle="modal" id="modalAndroidSS"  >DIMA Slide Show</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6">
            <div class="panel panel-info portfolioPanels">
                <div class="panel-heading">C# Project</div>
                <div class="panel-body">
                    <div class="flip-container">
                        <div class="flipper">
                            <div class="face front"><img class="panelImg" src="~/PortfolioFiles/assignment_9/Capture Photos/1.PNG" /></div>
                            <div class="face back">
                                <div>
                                    <p class="portfolioParagraphDescriptions">
                                        This program allowed users to generate a text file by filling in the blank fields and allowed users to search for a specific person by phone number or GPA.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <a class="btn btn-info ssButton" href="#displayCOne" data-toggle="modal" id="modalCone">C# Project Slide Show</a>
                </div>
            </div>
        </div>


        <div class="col-md-4 col-sm-6">
            <div class="panel panel-info portfolioPanels">
                <div class="panel-heading">C# Project II</div>
                <div class="panel-body">
                    <div class="flip-container">
                        <div class="flipper">
                            <div class="face front"><img class="panelImg" src="~/PortfolioFiles/Assignment_8/1.PNG" /></div>
                            <div class="face back">
                                <div>
                                    <p class="portfolioParagraphDescriptions">
                                        Program expects a string input which would be parsed by the program, operate accoding to input string, calculate accordingly, and display results. Tools used: Visual Studios, C# Forms
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <a class="btn btn-info ssButton" href="#displayCtwo" data-toggle="modal" id="modalCtwo">C# Project II Slide Show</a>
                </div>
            </div>
        </div>

        <!-- Q-Learning-->
        <div class="col-md-4 col-sm-6">
            <div class="panel panel-info portfolioPanels">
                <div class="panel-heading">Q-Learning Algorithm</div>
                <div class="panel-body">
                    <div class="flip-container">
                        <div class="flipper">
                            <div class="face front"><img class="panelImg" src="~/PortfolioFiles/HumbertoPedrazaQLearningHW4/Captures/last_three_moves.PNG" /></div>
                            <div class="face back">
                                <div>
                                    <p class="portfolioParagraphDescriptions">
                                        Displayed are the last three moves an agent makes on a Q-Learning algorithm. The agents job is to rescue 6 ponies in a two-dimensional graph, and escape without being eaten by the troll. Artificial Intelligence was a challenging coarse that taught me several unique algorithms, and sparked my interest in Machine Learning.
                                    </p>
                                </div>
                            </div>
   
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <a class="btn btn-info ssButton" href="#displayQ" data-toggle="modal" id="modalQ">Q-Learning Image</a>
                </div>
            </div>
        </div>


        <div class="col-md-4 col-sm-6">
            <div class="panel panel-info portfolioPanels">
                <div class="panel-heading">Genetic Algorithm</div>
                <div class="panel-body">
                    <div class="flip-container">
                        <div class="flipper">
                            <div class="face front"><img class="panelImg" src="~/PortfolioFiles/Genetic_Algorithm_AI_HP/Capture Photos/Console_Capture.PNG" /></div>
                            <div class="face back">
                                <div>
                                    <p class="portfolioParagraphDescriptions">
                                        Displayed is a snapshot of the results from my Genetic Algorithms homework assignment.  The program will imitate natural selection. The program will iterate through several generations until the algotithm finds an individual that fits the searched criteria; which in this case has a fitness value of 32.  Initially, before the program starts iterating through the generations, a population would be initialized and only the 75 most fit individuals will mate, and their offspring’s will survive to the next generation.  After having the individuals mate (crossover), their offspring’s gene has a small chance of genetic mutation. Once the new population has been established the program will check to see if it has found it's ideal individual; if not, the program kept the top 75 most fit individuals and repeat the process all over again for another generation until the ideal individual has been found.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <a class="btn btn-info ssButton" href="#displayGA" data-toggle="modal" id="modalGA">Genetic Algorithm Slide Show</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6">
            <div class="panel panel-info portfolioPanels">
                <div class="panel-heading">Ant Colony Algorithm</div>
                <div class="panel-body">
                    <div class="flip-container">
                        <div class="flipper">
                            <div class="face front"><img class="panelImg" src="~/PortfolioFiles/AntColony_Humberto_Pedraza/Captures/1.PNG" /></div>
                            <div class="face back">
                                <div>
                                    <p class="portfolioParagraphDescriptions">
                                        Ant colony optimization has to be one my favorite AI algorithm.  In this project we were given a graph (text file). The agents leave pheromones to keep track on how good (or bad) the taken is.  Usually agents will take paths that have a stronger pheromone value, and through several cycles the ants will eventually find the optimal path.  One of the main reasons I love this algorithm is the fact that the agents can keep infinitly explore a world and should always find the optimal path even if it means the world is dynamic (neural networks). 
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <a class="btn btn-info ssButton" href="#displayAnt" data-toggle="modal" id="modalAnt">Ant Colony Slide Show</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6">
            <div class="panel panel-info portfolioPanels">
                <div class="panel-heading">Get Fit Web Application</div>
                <div class="panel-body">
                    <div class="flip-container">
                        <div class="flipper">
                            <div class="face front"><img class="panelImg" src="~/PortfolioFiles/getfit_imgs/getfit_home_1.PNG" /></div>
                            <div class="face back">
                                <div>
                                    <p class="portfolioParagraphDescriptions">
                                        Displayed is a work in progress; its core feature is to keep track of users calorie intake to help individuals keep track of their calorie intake to help people reach their fitness goal.  Other features being worked on is parsing and displaying rss feeds based on users interest and a smart food suggestion to help users make better food choices to help promote their fitness goal.  Currently the web application can create users, delete users, log in calories, and I am currently working on authorization and authentication with ASP.NET Identity API to help keep application secure. I parsed data from a goverment website to get food names and calories per serving using JavaScript and C++.  Technoliogies used: Html,CSS,javascript, jQuery, Bootstrap, C++ (to parse foods from government food database), Visual Basic. 
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <a class="btn btn-info ssButton" href="#displayFit" data-toggle="modal" id="modalFit">Get Fit Web Application Slide Show</a>
                </div>
            </div>
        </div>

        <!-- Database Project-->
        <div class="col-md-4 col-sm-6">
            <div class="panel panel-info portfolioPanels">
                <div class="panel-heading">MySql database project report</div>
                <div class="panel-body">
                    <div class="flipper">
                        <div class="face front"><object class="panelObj" data="~/PortfolioFiles/Final_Phase_Hotel_Proj.pdf"></object></div>
                        <div class="face back">
                            <div>
                                <p class="portfolioParagraphDescriptions">
                                    Displayed is a work in progress; its core feature is to keep track of users calorie intake to help individuals keep track of their calorie intake to help people reach their fitness goal.  Other features being worked on is parsing and displaying rss feeds based on users interest and a smart food suggestion to help users make better food choices to help promote their fitness goal.  Currently the web application can create users, delete users, log in calories, and I am currently working on authorization and authentication with ASP.NET Identity API to help keep application secure. I parsed data from a goverment website to get food names and calories per serving using JavaScript and C++.  Technoliogies used: Html,CSS,javascript, jQuery, Bootstrap, C++ (to parse foods from government food database), Visual Basic.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                </div>
                <div class="panel-footer">
                    <a class="btn btn-info ssButton" href="#displayRDB" data-toggle="modal" id="modalRDB">MySql database project report pdf</a>
                </div>
            </div>
        </div>
    </div>
</div>




