
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
                <span>&times;</span>
            </button>
            <div class="resumeHeading">
                <h2>Humberto Pedraza's Resume</h2>
                <h4>912 E 15th St. • San Juan, TX 78589</h4>
                <h4>Cell: 956-325-6905 • hpedraza2333@gmail.com</h4>
            </div>
        </div>
        <div class="modal-body">
            <!-- Create Resume-->
            <div style="background-color: whitesmoke;" class="resumeHeading"><h4><strong>Software Engineering</strong></h4></div>
            <div>
                <ul>
                    <li><h5>BSCE graduate offering a strong foundation in software engineering and programming principles across multiple platforms. </h5></li>
                    <li><h5>Experienced in object-oriented programming.</h5></li>
                    <li><h5>Quickly learn and master new technologies; successful working in both team and self-directed settings.</h5></li>
                </ul>
            </div>
            <div style="background-color: whitesmoke;" class="resumeHeading"><h4><strong>Education</strong></h4></div>
            <h5>University of Texas Rio Grande Valley – Edinburg, TX</h5>
            <h5><strong>Bachelors of Science in Computer Engineering (BSCE)</strong>, Graduated: 19 December 2015</h5>
            <h5><u>Senior Software Engineering Project:</u></h5>
            <div>
                <ul>
                    <li><h5><em>Project Scope:</em>  Worked on an Android application that would request data from a MySQL database which was stored on Amazon’s Web Services.  The application gave users information about occurring drug-drug/drug-food interactions, drug side effects, and infirmity remedies. </h5></li>
                    <li><h5><em>Technology used for the project:</em>Android Studio IDE, Java for event driven code, XML for markup, PHP to request and retrieve data, Amazon Web Services to host MySQL database, C++ to parse excel spreadsheets. </h5></li>
                </ul>
                <div>
                    <h5><em>Frameworks:</em> ASP .Net MVC 5, Bootstrap</h5>
                </div>
            </div>

            <div>
                <h5><u>Courses Completed:</u></h5>
                <div class="row">
                    <div class="col-xs-6">
                        <ul>
                            <li><h5>Algorithms & Data Structures</h5></li>
                            <li><h5>Automata</h5></li>
                            <li><h5>Object-Oriented Programming in C#</h5></li>
                            <li><h5>Database Design & Implementation</h5></li>
                            <li><h5>Artificial Intelligence</h5></li>
                            <li><h5>Systems Programming</h5></li>
                            <li><h5>Digital Systems I & II </h5></li>

                        </ul>
                    </div>
                    <div class="col-xs-6">
                        <ul>
                            <li><h5>Intro to VLSI</h5></li>
                            <li><h5>Computer Networks</h5></li>
                            <li><h5>Computer Architecture</h5></li>
                            <li><h5>Game Development</h5></li>
                            <li><h5>Engineering Ethics</h5></li>
                            <li><h5>Differential Equations</h5></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div style="background-color: whitesmoke;" class="resumeHeading"><h4><strong>Technology Summary</strong></h4></div>
            <h5>•	C# (expert), C++ (expert), MySQL (expert),  Java (proficient), HTML (proficient), CSS (proficient), JavaScript (proficient), PHP (proficient), Visual Basic (proficient), Bootstrap (prior experience), Unity3D(prior experience), Pygame (prior experience), jQuery (proficient), XML (prior experience), Python (prior experience), Asp.Net MVC 5 (prior experience)</h5>
            <div id="downloadResume"><a href="~/Images/HumbertoPedraza_Resume.doc" style="display: none" download><span>Click to download</span></a></div>
        </div><!-- END OF MODAL BODY -->
        <div>

        </div>
        <div class="modal-footer">
            <!-- Add download resume option -->
            <button type="button" class="btn btn-info" id="downloadResumeButton">Download Resume</button>
            <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>

