
<div class="jumbotron" style="background-color: deepskyblue; color: white;">
    <div class="container" id="slideShowContainer">
        <div id="slideShow" class="carousel slide" data-ride="carousel">
           <h1 align="center" id="welcomeMessage">Welcome to my personal webpage</h1>
            <ol class="carousel-indicators">
                <li data-target="#slideShow" data-slide-to="0" class="active"></li>
                <li data-target="#slideShow" data-slide-to="1"></li>
                <li data-target="#slideShow" data-slide-to="2"></li>
                <li data-target="#slideShow" data-slide-to="3"></li>
                <li data-target="#slideShow" data-slide-to="4"></li>
                <li data-target="#slideShow" data-slide-to="5"></li>
                <li data-target="#slideShow" data-slide-to="5"></li>
                <li data-target="#slideShow" data-slide-to="6"></li>
                <li data-target="#slideShow" data-slide-to="7"></li>
                <li data-target="#slideShow" data-slide-to="8"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="item active slideShowImage" >
                    <img src="~/images/floor_legs.jpg">
                    <div class="carousel-caption">A day at Birmingham, Alabama.</div>
                </div>
                <div class="item slideShowImage">
                    <img src="~/images/bert_fishing.jpg">
                    <div class="carousel-caption">Very unsuccessful day catching fish.</div>
                </div>
                <div class="item slideShowImage">
                    <img src="~/images/adorable_steph.jpg">
                    <div class="carousel-caption">My bride to be.</div>
                </div>
                <div class="item slideShowImage">
                    <img src="~/images/gorgeous_steph.jpg">
                    <div class="carousel-caption">I love her.</div>
                </div>
                <div class="item slideShowImage">
                    <img src="~/images/enagaged.jpg">
                    <div class="carousel-caption">She said YES!</div>
                </div>
                <div class="item slideShowImage">
                    <img src="~/images/joseph_bert.jpg">
                    <div class="carousel-caption">Hanging out with my nephew Joseph</div>
                </div>
                <div class="item slideShowImage">
                    <img src="~/images/crying_joe.jpg">
                    <div class="carousel-caption">I love him so much! I cannot wait to have my own.</div>
                </div>
                <div class="item slideShowImage">
                    <img src="~/images/steph_alabama_zoo.jpg">
                    <div class="carousel-caption">A beautiful day at Birmingham's zoo.</div>
                </div>
                <div class="item slideShowImage">
                    <img src="~/images/beto_glasses.jpg">
                    <div class="carousel-caption">A silly selfie to Steph.</div>
                </div>
            </div>
            <a class="left carousel-control" href="#slideShow" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#slideShow" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>
</div>



<div class="row" id="leftColumn">
    <div class="col-lg-7">
    <!-- LEFT COLUMN-->
    <!-- Nav Tabs-->
        <ul id="tabs" class="nav nav-tabs" data-tabs="tabs" role="tablist">
            <li class="active" role="presentation"><a data-toggle="tab" href="#home" aria-controls="home" role="tab" class="tabHeadings">About Me</a></li>
            <li role="presentation"><a data-toggle="tab" href="#menu1" aria-controls="menu1" role="tab" class="tabHeadings">My Computer Science Interest</a></li>
        </ul>

    <!-- Tab Panes-->
        <div class="tab-content">
            <div id="home" class="tab-pane fade in active" role="tabpanel">
                <h3 class="homeTabHeadings">About Me</h3>

                <p>
                    <h4><b>Welcome!</b></h4> I am a recent UTRGV Computer Engineering graduate and I been learning about web development ever since I graduated.  I started out learning HTML and CSS on codeacedemy, which was fairly easy to pick up. I eventually picked up JavaScript and jQuery along with the bootstrap framework. My current project is to create a web application that executes CRUD operations using ASP.NET MVC 5 and the Code-First Entity Framework.  As for the user authorization and authentication I plan on implementing ASP.NET Identity API.
                </p>
                <p>
                    The first programming language I learned was C++ back in 2011, and I have been in love with programming ever since. After implenting algorithms and data strucutres in c++ such as breadth/depth first search, merge sort, dynamic programming, AVL-trees, B-tress, Hash Maps, and heap sort I went on to learn other programming languages such as
                    Phython where I made a 2-D game using the Pygame engine.  I learned C# OOP which was very easy to pick up since it is the sister of C++.  Learning
                    C# I was introduced to the .NET framework and learned things like lamda, linq, foreach loops, polymorphism, and interfaces. I took a Database Design and Implementation course where I learned how to design relation-databases, and how to implement them and run queries using
                    MySql. My favorite class was Artifical Intelligence because it was so fasinating and interesting; my favorite algorithm I implemented was the Ant Colony algorithm and Q-Learning.
                </p>
                <p>
                    So what about me... I am a 3rd generation American, growing up I loved playing video games, I am from a family of six. I am engaged to a beautiful lady, Stephanie Liane Munoz.  We have been together since my sophomore year of high-school and I hope we can raise a family of our own one day. My favorite games of all-time are Zelda:Orcarina of Time, Gears of War III, Super Smash Bros., Tetris, and Metal Gear Solid IV. I like
                    all types of artist and genres, although as of late my favorite genre has been hip-hop. My ultimate goal in life is to start a family of my own with Steph, and provide
                    for them as successful Software Engineer.
                </p>
                <p>
                    I can't imagine anything greater than spending time with loved ones; no wealth can buy happiness without the people you love, happiness is what you create with the ones most dear to you (at least that is my happiness), without that I have nothing. I have a vision that I will find a good job to comfortably support, my wife and children. Although money
                    does not buy happiness it is a necessity to provide my family with all that we need to survive.
                </p>
                <p>
                    I would say I am introvert, I like to spend most of my time with the closest people in my life: my fiancée, sisters, brother, mom, dad, and my best friend Damian.  What I enjoy most in life is traveling with family.

                </p>
            </div>
            <div id="menu1" class="tab-pane fade" role="tabpanel">
                <h3 class="homeTabHeadings">My Computer Science Interest</h3>
                <p>
                    Through my undergraduate career I have learned that artificial intelligence and game development are very fascinating topics in the computer-science field. Yet, I have been
                    studying, and practicing web development since I have been very intrigued by it since December 2015.  Web apps can work across all platforms! Mobile, gaming consoles, tablets, Smart Tv's, and computers, as long as the device has a browser then a web app SHOULD be navigatiable, and that is a huge amount of devices and audience to reach.
                </p>
                <p>
                    Books I have been reading this past month:
                    <ul>
                        <li>Programming ASP.NET MVC</li>
                        <li>Professional ASP.NET MVC 5</li>
                        <li>MCSD Certification Toolkit</li>
                    </ul>
                </p>
                <p>
                    I am currently working on a project - Get Fit.  It is a web app that keeps track of user calorie and nutritional count. Uses CRUD operations.
                </p>
            </div>
        </div>

        </div> <!-- END OF LEFT COLUMN -->   
        

        <!-- Right column -->
        <div class="col-lg-5"  id="spotify">
            <iframe src="https://embed.spotify.com/?uri=spotify:user:1266133822:playlist:4BwklsVxW85ctOz02VPC6U" width="420" height="540" frameborder="0" allowtransparency="true"></iframe>
        </div>
         <!-- END OF RIGHT COLUMN -->   
  
</div>


